<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hualala.mapper.OrderDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hualala.domain.OrderDetail">
        <id column="detailID" property="detailID" />
        <result column="foodID" property="foodID" />
        <result column="orderID" property="orderID" />
        <result column="foodNum" property="foodNum" />
        <result column="foodName" property="foodName" />
        <result column="foodDesc" property="foodDesc" />
    </resultMap>

</mapper>
