:root{
    --btn_primary: #379ff1;
    --btn_primary_border: #379ff1;
    --btn_primary_hover: #3496e0;
    --btn_primary_hover_border: #379ff1;
    /* --ant_tabs_tab_active: #d0121b; */
}

body{
    font-family: Microsoft YaHei;
}
a{
    color: #1ca1dc;
}
.ant-table{
    font-size: 13px;
}
.ant-layout{
    background: #fff;
}
.ant-layout-header{
    background: #f8f8f9;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
}

.userContainer .ant-menu.ant-menu-dark .ant-menu-item-selected{
    background-color: #001429;
}
.ant-menu-submenu-popup > .ant-menu{
    background-color: #001529;
}
.ant-table-container .ant-table-thead > tr > th{
    text-align: center;
}

.ant-btn-primary{
    background-color: var(--btn_primary);
    border-color: var(--btn_primary_border);
}

.ant-btn-primary:hover,
.ant-btn-primary:focus{
    background-color: var(--btn_primary_hover);
    border-color: var(--btn_primary_hover_border);
}
.ant-alert-message {
    color: #e5853a;
}

/* 
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
    color: var(--ant_tabs_tab_active)
} */

.goodsSelect .option-label-item span{
    line-height: 32px;
    height: 32px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-right: 1px solid #ececec;
    padding: 0px 10px;
    text-align: left;
    width: 200px;
}

.goodsSelect .option-label-item span:first-child{
    width: 140px;
}

.goodsSelect .ant-select-item {
    padding: 0;
    border-bottom: 1px solid #ececec;
    height: 32px;
}

/* .goodsSelect .ant-select-item-option-content{
    border-bottom: 1px solid #ececec;
    
} */