/* tree样式开始 */
.treeWrapper {
    position: relative;
    height: calc(100vh - 245px);
    max-height: 750px;
    width: 300px;
    overflow: hidden auto;
    border: 1px solid #ddd;
    text-align-last: left;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  .treeWrapper :global .ant-tree-treenode{
    width: 100%;
  }
  /* 去除所有padding,确保一定点到对应元素 */
  .treeWrapper :global .ant-tree li{
    padding: 0;
  }
  .treeWrapper :global .ant-tree .ant-tree-node-content-wrapper, .treeWrapper  :global .ant-tree .ant-tree-treenode{
    padding: 0;
  }
  
  /* 菜单箭头,与高度重置 */
  .treeWrapper :global .ant-tree span.ant-tree-switcher,
  .treeWrapper :global .ant-tree span.ant-tree-iconEle,
  .treeWrapper :global .ant-tree .ant-tree-node-content-wrapper{
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
  }
  
  .treeWrapper :global .ant-tree-node-content-wrapper{
    position: relative;
    width: calc(100% - 24px);
  }
  /* 添加每个菜单的 下划线 */
  .treeWrapper :global span.ant-tree-node-content-wrapper::after{
    content: '';
    display: inline-block;
    position: absolute;
    border-bottom: 1px solid #ddd;
    left: -300px;
    right: 0;
    bottom: 0;
    width: 600px;
  }
  
  .treeWrapper :global .ant-tree-switcher, .treeWrapper :global .ant-tree-title {
    position: relative;
    z-index: 10; /* 使用after::伪元素的背景,同时保持总是在上 => 二者结合,让菜单的背景借助于after元素 */
    white-space: nowrap;
  }
  .treeWrapper :global .ant-tree-title > div {
    position: relative;
    z-index: 10; /* onload 方式专门处理 */
  }
  /* hover时,添加背景色 */
  .treeWrapper :global span.ant-tree-node-content-wrapper:hover::after{
    background-color: #e6f7ff;
    height: 100%;
  }
  /* 选中时,添加背景色 */
  .treeWrapper :global span.ant-tree-node-content-wrapper.ant-tree-node-selected::after{
    background-color: #e6f7ff;
    height: 100%;
  }
  /* 去除过度transition,否则切换菜单时,颜色闪动 */
  .treeWrapper :global .ant-tree span.ant-tree-node-content-wrapper{
    transition: none;
  }
  /* tree样式结束 */